*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style-type: none;
border: none;
outline: none;
font-family: Poppins, sans-serif;
color: #ffffff;
}
body {
min-height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-image: url(beautiful-selective-focus-shot-crystal-ball-reflecting-breathtaking-sunset.jpg);
background-size: cover;
background-position: center;


}
.content .remember {
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 16px 0 16px;
}
.remember label input {
accent-color: #ffffff;
margin-right: 4px;
}
.remember a {
color: #ffffff;
text-decoration: none;
}
.content h2 {

font-size: 38px;
font-weight: 700;
text-align: center;}

.content .input-box {

position: relative;
width: 100%;
height: 55px;
margin: 30px 0;
}
.content .input-box input {

background: transparent;
width: 100%;
height: 100%;
border: 2px solid rgb(255, 255, 255);
border-radius: 30px;
padding: 20px 45px 20px 20px;
font-size: 16px;
}
.button a {

color: #ffffff;
font-size: 16px;
font-weight: 500;
text-decoration: none;
}
.button a i{
font-size: 20px;
margin-right: 8px;}
.button a:hover {
opacity: 0.8;
}
input[type="checkbox"] {
display: inline-block;
width: 15px;
height: 15px;
cursor: pointer;
color: white;
}
input ::-ms-reveal,
input ::-ms-clear{
    display: none;
}
input::-webkit-credentials-auto-fill-button,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-contacts-auto-fill-button {
display: none !important;
visibility: hidden !important;
 pointer-events: none; 
 height: 0; 
width: 0;
margin: 0;
padding: 0;
}
.btnn {

display: inline-block;
background: #fff;
color: #000000;
width: 100%;
border-radius: 30px;
font-size: 16px;
height: 45px;
font-weight: 600;
text-align: center;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
cursor: pointer;
margin-bottom: 30px;
margin-top: 16px;
}
.button {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 20px;
text-align: center;
}
